<section class="dashboardSection">
  <h1>Dashboard</h1>
  <a class="todayLink" href="/mockups/today">go to today's tasks &rarr;</a>
  <ul class="daySummaryList">
    <li class="daySummary">
      <div class="calendarIcon">
        <div class="calendarIconTopBar"><span class="month"><%= Date.yesterday.strftime('%B') %></span></div>
        <div class="calendarIconDay"><span class="day"><%= Date.yesterday.strftime('%e') %></span></div>
      </div>
      <ol class="smallTodoList">
        <li class="smallTodo">Software dev</li>
        <li class="smallTodo">Read book</li>
        <li class="smallTodo">Clean room</li>
        <li class="smallTodo">Follow up with client</li>
        <li class="smallTodo">Practice piano</li>
      </ol>
      <span class="ratingCircle active dashboard"><span class="ratingNumber">10</span></span>
    </li>
    <li class="daySummary">
      <div class="calendarIcon">
        <div class="calendarIconTopBar"><span class="month"><%= Date.yesterday.strftime('%B') %></span></div>
        <div class="calendarIconDay"><span class="day"><%= Date.yesterday.strftime('%e') %></span></div>
      </div>
      <ol class="smallTodoList">
        <li class="smallTodo">Software dev</li>
        <li class="smallTodo">Read book</li>
        <li class="smallTodo">Clean room</li>
        <li class="smallTodo">Follow up with client</li>
        <li class="smallTodo">Practice piano</li>
      </ol>
      <span class="ratingCircle active dashboard"><span class="ratingNumber">10</span></span>
    </li>
    <li class="daySummary">
      <div class="calendarIcon">
        <div class="calendarIconTopBar"><span class="month"><%= Date.yesterday.strftime('%B') %></span></div>
        <div class="calendarIconDay"><span class="day"><%= Date.yesterday.strftime('%e') %></span></div>
      </div>
      <ol class="smallTodoList">
        <li class="smallTodo">Software dev</li>
        <li class="smallTodo">Read book</li>
        <li class="smallTodo">Clean room</li>
        <li class="smallTodo">Follow up with client</li>
        <li class="smallTodo">Practice piano</li>
      </ol>
      <span class="ratingCircle active dashboard"><span class="ratingNumber">10</span></span>
    </li>
  </ul>
</section>
