<section class="appSection">
  <h1>Today</h1>
  <div class="calendarIcon">
    <div class="calendarIconTopBar"><span class="month"><%= Date.current.strftime('%B') %></span></div>
    <div class="calendarIconDay"><span class="day"><%= Date.current.strftime('%e') %></span></div>
  </div>

  <%= link_to "Go back to dashboard".html_safe, dashboard_path %>

  <%= react_component 'TodoList', todos: @todos %>

  <% if current_week_plan.todos.present? %>
    <button class="blue breatheTop js--toggleWeekPlan showWeekPlan">Add todos from your weekly plan</button>

    <section class="addWeeklyTodos hidden">
      <div class="js--toggleWeekPlan closeWeekPlan">
        <span>close</span>
      </div>
      <div class="weeklyTodosScrollable">
        <ul>
          <% @week_plan.todos.each do |todo| %>
            <li>
              <span><%= todo.content %></span>
              <% if @todos.pluck(:content).include?(todo.content) %>
                <button class="extraSmall js--addWeeklyTodo" disabled>Added</button>
              <% else %>
                <button class="extraSmall js--addWeeklyTodo">Add</button>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  <% end %>

  <% if @reflection.present? %>
    <%= render partial: "reflections/reflection",
      locals: { reflection: @reflection } %>
  <% else %>
    <%= link_to @button_text, @button_path, class: 'finishDayButton button' %>
  <% end %>
</section>
