<section class="appSection">
  <h1>Dashboard</h1>
  <% if today_is_trackable? %>
    <%= link_to "go to today's tasks &rarr;".html_safe, today_path, class: "todayLink" %>
  <% else %>
    <p class="weekendMessage">Have a good <%= Date::DAYNAMES[Date.current.wday] %> and get some rest.</p>
  <% end %>

  <ul class="daySummaryList">
    <% if @tomorrows_todo_list.present? %>
      <li class="daySummary tomorrow">
        <div class="flexColumn flexAlignCenter flexJustifySpaceAround daySummaryInfoColumn">
          <div class="calendarIcon small">
            <div class="calendarIconTopBar small"><span class="month"><%= Date.current.next_day.strftime('%B') %></span></div>
            <div class="calendarIconDay small"><span class="day"><%= Date.current.next_day.strftime('%e') %></span></div>
          </div>
        </div>

        <ol class="dashboardTodoList">
          <% @tomorrows_todo_list.todos.each do |todo| %>
            <li class="dashboardTodo">
              <% if todo.complete? %>
                <span class="complete">
                  <%= truncate(todo.content, user_agent: @user_agent) %>
                </span>
                <span class="checkMark"></span>
              <% else %>
                <%= truncate(todo.content, user_agent: @user_agent) %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </li>
    <% end %>

    <%= link_to today_path, class: "noTextStyle" do %>
      <li class="daySummary today">
        <div class="flexColumn flexAlignCenter flexJustifySpaceAround daySummaryInfoColumn">
          <div class="calendarIcon small">
            <div class="calendarIconTopBar small"><span class="month"><%= Date.current.strftime('%B') %></span></div>
            <div class="calendarIconDay small"><span class="day"><%= Date.current.strftime('%e') %></span></div>
          </div>
          <% if today_is_trackable? %>
            <span class="ratingCircle active dashboard"><span class="ratingNumber"><%= @todays_todo_list.try(:reflection).try(:rating) || "?" %></span></span>
          <% end %>
        </div>

        <% if @todays_todo_list.present? %>
          <ol class="dashboardTodoList">
            <% @todays_todo_list.todos.each do |todo| %>
              <li class="dashboardTodo">
                <% if todo.complete? %>
                  <span class="complete">
                    <%= truncate(todo.content, user_agent: @user_agent) %>
                  </span>
                  <span class="checkMark"></span>
                <% else %>
                  <%= truncate(todo.content, user_agent: @user_agent) %>
                <% end %>
              </li>
            <% end %>
          </ol>
        <% else %>
          <% if today_is_trackable? %>
            <p class="noTasks">No tasks yet.</p>
          <% else %>
            <p class="noTasks">Nothing to do today.</p>
          <% end %>
        <% end %>
      </li>
    <% end %>

    <% if @past_todo_lists.present? %>
      <% @past_todo_lists.each do |todo_list| %>
        <li class="daySummary">
          <div class="flexColumn flexAlignCenter flexJustifySpaceAround daySummaryInfoColumn">
            <div class="calendarIcon small">
              <div class="calendarIconTopBar small"><span class="month"><%= todo_list.date.strftime('%B') %></span></div>
              <div class="calendarIconDay small"><span class="day"><%= todo_list.date.strftime('%e') %></span></div>
            </div>
            <span class="ratingCircle active dashboard"><span class="ratingNumber"><%= todo_list.reflection.try(:rating) || "?" %></span></span>
          </div>

          <ol class="dashboardTodoList">
            <% todo_list.todos.each do |todo| %>
              <li class="dashboardTodo">
                <% if todo.complete? %>
                  <span class="complete">
                    <%= truncate(todo.content, user_agent: @user_agent) %>
                  </span>
                  <span class="checkMark"></span>
                <% else %>
                  <%= truncate(todo.content, user_agent: @user_agent) %>
                <% end %>
              </li>
            <% end %>
          </ol>
        </li>
      <% end %>
      <%= will_paginate @past_todo_lists %>
    <% else %>
      <p class="noTodoLists">No past todo lists. Keep coming back every day to see more.</p>
    <% end %>
  </ul>
</section>
