<%= render partial: 'disable_turbolinks' %>

<section class="appSection">
  <h1>Log in</h1>
  <div class="loginForm">

    <% unless self_hosted? %>
      <%= render partial: "google_sign_in" %>

      <%= form_with url: '/login', id: 'google_signin', html: { style: 'display: none' } do |form| %>
        <%= form.hidden_field :google_id_token, id: 'google_id_token' %>
        <% end %>
    <% end %>

    <%= form_tag '/login' do |f| %>
      <div class="inputGroup">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>

      <div class="inputGroup">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div class="inputGroup flexRow flexAlignCenter">
        <%= submit_tag 'Log in', class: "button secondary" %>
        <%= link_to "Forgot your password?", new_password_path %>
      </div>
    <% end %>
  </div>
</section>
