<%= content_for(:body_attributes, 'data-turbolinks=false') %>

<section class="appSection">
  <h1>Log in</h1>
  <div class="loginForm">
    <div class="g-signin2" data-onsuccess='onSignIn'></div>

    <%= form_with url: '/login', id: 'google_signin', html: { style: 'display: none' } do |form| %>
      <%= form.hidden_field :google_id_token, id: 'google_id_token' %>
    <% end %>

    <%= form_tag '/login' do |f| %>
      <div class="inputGroup">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>

      <div class="inputGroup">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div class="inputGroup flexRow flexAlignCenter">
        <%= submit_tag 'Log in' %>
        <%= link_to 'or sign up', new_user_path %>
      </div>
    <% end %>
  </div>
</section>
