<section class="appSection">
  <h1>Log in</h1>
  <div class="loginForm">
    <%= google_sign_in(url: login_path) do %>
      <%= button_tag("Signin with Google") %>
    <% end %>

    <%= form_tag '/login' do |f| %>
      <div class="inputGroup">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>

      <div class="inputGroup">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div class="inputGroup flexRow flexAlignCenter">
        <%= submit_tag 'Log in' %>
        <%= link_to 'or sign up', new_user_path %>
      </div>
    <% end %>
  </div>
</section>
