<div class="reflectionDaySummary breatheTop">
  <h2>Reflection</h2>
  <h3>Rating</h3>
  <p><%= reflection.rating %></p>
  <h3><%= t("reflection_questions.negative") %></h3>
  <p><%= reflection.negative %></p>
  <h3><%= t("reflection_questions.positive") %></h3>
  <p><%= reflection.positive %></p>
</div>
