<section class="appSection">
  <h1>Daily reflection</h1>
  <%= link_to @link_text.html_safe, @link_url %>

  <div class="daySummary reflectionDaySummary breatheTop">
    <div class="flexColumn flexAlignCenter flexJustifySpaceAround daySummaryInfoColumn">
      <div class="calendarIcon small">
        <div class="calendarIconTopBar small"><span class="month"><%= @todo_list.date.strftime('%B') %></span></div>
        <div class="calendarIconDay small"><span class="day"><%= @todo_list.date.strftime('%e') %></span></div>
      </div>
    </div>

    <ol class="dashboardTodoList">
      <% @daily_snapshot.todos.each do |todo| %>
        <li class="dashboardTodo">
          <% if todo.complete %>
            <span class="checkMark small"></span>
            <span class="complete">
              <%= todo.content %>
            </span>
          <% else %>
            <%= todo.content %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <%= form_for @reflection, html: { class: 'reflectionForm' } do |f| %>
    <% if @reflection.errors.any? %>
      <p class="error">You must fill out all fields.</p>
    <% end %>

    <%= f.hidden_field :date, value: @todo_list.date %>

    <div class="inputGroup">
      <%= f.label :rating, 'How would you rate your day?' %>
      <div class="dayRating">
        <%= f.hidden_field :rating, id: 'ratingInput' %>
        <span class="ratingCircle"><span class="ratingNumber">1</span></span>
        <span class="ratingCircle"><span class="ratingNumber">2</span></span>
        <span class="ratingCircle"><span class="ratingNumber">3</span></span>
        <span class="ratingCircle"><span class="ratingNumber">4</span></span>
        <span class="ratingCircle"><span class="ratingNumber">5</span></span>
        <span class="ratingCircle"><span class="ratingNumber">6</span></span>
        <span class="ratingCircle"><span class="ratingNumber">7</span></span>
        <span class="ratingCircle"><span class="ratingNumber">8</span></span>
        <span class="ratingCircle"><span class="ratingNumber">9</span></span>
        <span class="ratingCircle"><span class="ratingNumber">10</span></span>
      </div>
    </div>

    <div class="inputGroup">
      <%= f.label :negative, t("reflection_questions.negative") %>
      <%= f.text_area :negative %>
    </div>

    <div class="inputGroup">
      <%= f.label :positive, t("reflection_questions.positive") %>
      <%= f.text_area :positive %>
    </div>

    <% if @todo_list.todos.incomplete.present? %>
      <div class="inputGroup">
        <label>Add incomplete tasks to your weekly plan</label>
        <ul class="incompleteTodos">
          <% @todo_list.todos.incomplete.each do |todo| %>
            <li>
              <div class="checkbox breatheRight">
                <%= check_box_tag "add_to_week[]", todo.id, false, class: "completeInput", id: "add_to_week_#{todo.id}" %>
                <%= label_tag "add_to_week_#{todo.id}" do %>
                <% end %>
              </div>
              <%= todo.content %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="inputGroup">
      <%= f.submit 'Save' %>
    </div>
  <% end %>
</section>
