<section class="appSection">
  <h1>Settings</h1>
  <%= form_for @user, html: { class: 'settingsForm breatheTop', id: 'payment-form' } do |f| %>
    <div class="settingsSection">
      <h2 class="settingsHeading">Contact</h2>
      <div class="contactInputs breatheTop breatheBottom flexJustifySpaceBetween flexWrap">
        <div class="settingsInputGroup">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'settingsInput' %>
        </div>

        <div class="settingsInputGroup">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'settingsInput' %>
        </div>

        <div class="settingsInputGroup">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'settingsInput' %>
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Reminders</h2>
      <p>If you allow it, Volition will send you daily reminders to reflect.</p>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <%= f.check_box :email_reminders, class: 'completeInput' %>
              <%= f.label :email_reminders do %>
              <% end %>
            </div>
            Email
          </label>
        </div>

        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <%= f.check_box :sms_reminders, class: 'completeInput' %>
              <%= f.label :sms_reminders do %>
              <% end %>
            </div>
            SMS
          </label>
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Other</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <%= f.check_box :track_weekends, class: 'completeInput' %>
              <%= f.label :track_weekends do %>
              <% end %>
            </div>
            Track tasks on weekends
          </label>
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Payment</h2>
      <div class="breatheTop breatheBottom">
        <label for="card-element">Credit or debit card</label>
        <div id="card-element"></div>
        <div id="card-errors"></div>
      </div>
    </div>
    <%= f.submit "Save" %>
  <% end %>
</section>
