<section class="appSection">
  <h1>Settings</h1>
  <%= link_to "Go back to dashboard".html_safe, dashboard_path %>

  <%= form_for @user, html: { class: 'settingsForm breatheTop google_signin', id: 'payment-form' } do |f| %>
    <div class="settingsSection">
      <% if @user.paid? %>
        <div class="settingsSection">
          <div class="flexRow flexAlignCenter">
            <%= render partial: "paid_icon" %>
            <p>Thanks for supporting Volition! It's because people like you that Volition continues to exist.</p>
          </div>
        </div>
      <% end %>

      <h2 class="settingsHeading">Contact</h2>
      <% unless @user.google_id %>
        <p>If you'd like to be able to sign into Volition with your Google account, use the button below.</p>
        <%= render partial: "sessions/google_sign_in" %>
        <%= f.hidden_field :google_id, id: 'google_id_token' %>
      <% end %>

      <div class="contactInputs breatheTop breatheBottom flexJustifySpaceBetween flexWrap">
        <div class="settingsInputGroup">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'settingsInput' %>
        </div>

        <div class="settingsInputGroup">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'settingsInput' %>
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Other</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <%= f.check_box :track_weekends, class: 'completeInput' %>
              <%= f.label :track_weekends do %>
              <% end %>
            </div>
            Track tasks on weekends
          </label>
        </div>

        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <%= f.check_box :weekly_summary, class: 'completeInput' %>
              <%= f.label :weekly_summary do %>
              <% end %>
            </div>
            Receive weekly summaries
          </label>
        </div>
      </div>
    </div>

    <div class="settingsSection dangerZone">
      <h2 class="settingsHeading dangerZone">
        Danger zone
      </h2>

      <div class="dangerZoneContent">
        <p>Deleting your account is irreversible!</p>
        <%= link_to 'Delete account',
          user_path(@user),
          method: :delete,
          class: 'button danger',
          data: { confirm: "Are you sure you want to delete your account?" } %>
      </div>
    </div>

    <%= f.submit "Save" %>
  <% end %>
</section>
