<section class="appSection">
  <h1>Settings</h1>
  <%= form_for @form, html: { class: 'settingsForm breatheTop' } do |f| %>
    <div class="settingsSection">
      <h2 class="settingsHeading">Contact</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween flexWrap">
        <div class="settingsInputGroup">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'settingsInput' %>
        </div>

        <div class="settingsInputGroup">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'settingsInput' %>
        </div>

        <div class="settingsInputGroup breatheTop">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'settingsInput' %>
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Change password</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <%= f.label :old_password %>
          <%= f.password_field :old_password, nil, class: 'settingsInput' %>
        </div>

        <div class="settingsInputGroup">
          <%= f.label :password, 'New' %>
          <%= f.password_field :password, class: 'settingsInput' %>
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Notifications</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            Email
            <div class="checkbox breatheLeft">
              <input class="completeInput" id="complete1" type="checkbox" name="user[settings][email_notifications]">
              <label for="complete1"></label>
            </div>
          </label>
        </div>

        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            Phone
            <div class="checkbox breatheLeft">
              <input class="completeInput" id="complete2" type="checkbox" name="user[settings][phone_notifications]">
              <label for="complete2"></label>
            </div>
          </label>
        </div>
      </div>
    </div>
    <%= f.submit %>
  <% end %>
</section>
