<%= render partial: 'disable_turbolinks' %>

<section class="appSection">
  <h1>Sign up</h1>

  <% unless self_hosted? %>
    <p class="instructions">Try Volition for 48 hours, and if it's for you, pay $5 a month to be less busy and more productive. You can also <%= link_to "self-host Volition", "https://github.com/usevolition/volition/blob/staging/SELFHOST.md" %>.</p>
  <% end %>

  <div class="newUserForm">
    <% if params[:guest] %>
      <p class="thanksForDemoing">
      Thanks for trying out the demo! If you can imagine Volition helping you to become more productive, sign up below!
      </p>
    <% end %>

    <% unless self_hosted? %>
      <%= render partial: "sessions/google_sign_in" %>

      <%= form_with url: '/users', id: 'google_signin', html: { style: 'display: none' } do |form| %>
        <%= form.hidden_field :google_id_token, id: 'google_id_token' %>
      <% end %>
    <% end %>

    <%= form_for @registration, url: users_path do |f| %>
      <div class="inputGroup">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="inputGroup">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="inputGroup">
        <%= f.label :password %>
        <div class="passwordRules hidden">
          <p>We know password rules are annoying, but there are some easy ways to ensure your account remains secure. For more info on why we use these password constraints, check out <%= link_to 'Password Rules Are Bullshit', 'https://blog.codinghorror.com/password-rules-are-bullshit/', target: '_blank' %> on the Coding Horror blog.</p>
          <ol>
            <li>Minimum length of 10 characters <span class="xMark"></span></li>
            <li>Isn't in the <%= link_to 'top 100', 'https://raw.githubusercontent.com/danielmiessler/SecLists/master/Passwords/10_million_password_list_top_100.txt'%> most common passwords <span class="xMark"></span></li>
            <li>Doesn't match your email <span class="xMark"></span></li>
          </ol>
        </div>
        <%= f.password_field :password, data: { rules: "checkLength,checkTop100,ensureDoesntMatchEmail" } %>
      </div>

      <div class="inputGroup flexRow flexAlignCenter">
        <%= f.submit 'Sign up', disabled: true %>
      </div>
    <% end %>
  </div>
</section>
