<%= render partial: 'disable_turbolinks' %>

<section class="appSection">
  <h1>Sign up</h1>

  <div class="newUserForm">
    <% if params[:guest] %>
      <p class="thanksForDemoing">
      Thanks for trying out the demo! If you can imagine Volition helping you to become more productive, sign up below!
      </p>
    <% end %>

    <%= render partial: "sessions/google_sign_in" %>

    <%= form_with url: '/users', id: 'google_signin', html: { style: 'display: none' } do |form| %>
      <%= form.hidden_field :google_id_token, id: 'google_id_token' %>
    <% end %>

    <%= form_for @registration, url: users_path do |f| %>
      <div class="inputGroup">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="inputGroup">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="inputGroup">
        <%= f.label :password %>
        <div class="passwordRules hidden">
          <p>We know password rules are annoying, but there are some easy ways to ensure your account remains secure. For more info on why we use these password constraints, check out <%= link_to 'Password Rules Are Bullshit', 'https://blog.codinghorror.com/password-rules-are-bullshit/', target: '_blank' %> on the Coding Horror blog.</p>
          <ol>
            <li>Minimum length of 10 characters <span class="xMark"></span></li>
            <li>Isn't in the <%= link_to 'top 100', 'https://raw.githubusercontent.com/danielmiessler/SecLists/master/Passwords/10_million_password_list_top_100.txt'%> most common passwords <span class="xMark"></span></li>
            <li>Doesn't match your email <span class="xMark"></span></li>
          </ol>
        </div>
        <%= f.password_field :password %>
      </div>

      <div class="inputGroup flexRow flexAlignCenter">
        <%= f.submit 'Sign up', disabled: true %>
        <% unless params[:guest] %>
          <%= link_to 'or log in', login_path %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
