<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<section class="heroSection">
  <div class="heroMain">
    <div class="heroExplanation">
      <h1 class="heroTagline">Be less busy and more productive.</h1>
      <p>
        Volition is more than a todo list. It’s a framework for becoming more effective. It encourages you to be intentional in planning your day and reflecting on the decisions you made. Read about <%= link_to "the philosophy behind Volition", philosophy_path %> or see how much it <%= link_to 'costs to run', running_costs_path %>.
      </p>
      <div class="callToActionButtons">
        <%= link_to 'Sign up', new_user_path, class: 'button' %>
        <%= render partial:  "marketing/heroku_button" %>
        <%= link_to 'or try a demo', new_today_path(guest: true) %>
      </div>
    </div>
  </div>
</section>

<section class="dayWithVolitionSection">
  <h2 class="sectionHeading">A day with Volition</h2>
  <p>
    Volition facilitates the use of the Pomodoro technique - breaking down tasks into twenty-five-minute chunks of work, with five-minute breaks in between - to boost productivity and encourage self-reflection.
  </p>

  <div class="marketingCard">
    <h3 class="marketingTagline">Plan your day ahead</h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/1z1C0S3J2G2o3D3X2Z1h/Screen%20Recording%202017-03-08%20at%2010.11%20AM.gif" alt="">
    <p>
      Volition allows you to choose only five tasks to work on for the day. This constraint pushes you to think about what is important and to set your priorities accordingly. Volition also asks you to estimate how long - in Pomodoro increments - it will take you to complete each task. It's okay if your estimates are off at first. It takes practice to accurately judge the time it will take to complete a task. Honing this skill will help you learn to analyze problems more thoroughly and organize your day efficiently, matching available blocks of time with well-suited tasks.
    </p>
  </div>

  <p class='downArrow'>&#8595;</p>

  <div class="marketingCard">
    <h3 class="marketingTagline">Use it throughout the day</h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/2v3i0v150c1r452f1902/Screen%20Recording%202017-03-08%20at%2010.12%20AM.gif" alt="">
    <p>
      You can mark off a task's Pomodoros increments as you finish them. Once you fully complete a task check it off!
    </p>
  </div>

  <p class='downArrow'>&#8595;</p>

  <div class="marketingCard">
    <h3 class="marketingTagline">Reflect on your day</h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/3F1A0u1U3a0i3n111W1K/Screen%20Recording%202017-03-08%20at%2010.14%20AM.gif" alt="">
    <p>
      Here is where Volition becomes a powerful tool. At the end of each day, Volition gives you space to reflect on what you think you did wrong, what you did right, and what was left undone. By examining your behavior and how you use your time, it will be easier for you to make positive adjustments. What gets measured gets managed. What gets managed can be improved!
    </p>
  </div>

  <p class='downArrow'>&#8595;</p>

  <div class="marketingCard">
    <h3 class="marketingTagline">Plan the next day</h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/0C050k1D2N1U0A1z0H0P/Screen%20Recording%202017-03-08%20at%2010.16%20AM.gif" alt="">
    <p>
      After you reflect on your day, you can plan your tasks for tomorrow. This process helps you hit the ground running the next morning eliminating the need to use precious reserves of willpower.
    </p>
  </div>

</section>

<section class="pricingSection">
  <h2 class="sectionHeading">Ways to use Volition</h2>
  <div class="pricing">
    <div class="hosted">
      <h3>Hosted</h3>
      <p class="price">$12</p>
      <p class="details">
        Pay once and use Volition forever. For those of you that just want to sign up and get going with Volition, this option is for you. You can try it for 48 hours before you pay!
      </p>
      <%= link_to 'Sign up', new_user_path, class: 'button light expanding' %>
    </div>

    <div class="selfHosted">
      <h3>Self-hosted</h3>
      <p class="price">Free <i class="em em-tada"></i></p>
      <p class="details">
        If you have technical chops and don't want to pay to support Volition's maintenance costs, self-hosting is for you! Check Volition out on <%= link_to 'Github', ENV['LINK_TO_GITHUB_REPO'] %> or use the deploy button below.
      </p>
      <p>
      <%= render partial: "marketing/heroku_button", locals: { expanding: true } %>
      </p>
    </div>
  </div>
</section>
