<section class="heroSection">
  <div class="mobileHeader">
    <%= image_tag 'logo', class: 'heroLogo mobile' %>
  </div>
  <div class="heroMain">
    <div class="heroTitleSection">
      <%= image_tag 'logo', class: 'heroLogo' %>
      <div class="breatheTop flexRow flexAlignCenter">
        <%= link_to 'Sign up', new_user_path, class: 'button' %>
        <%= link_to 'or try a demo', new_today_path %>
      </div>
    </div>
    <div class="heroExplanation">
      <h1 class="heroTagline">Be less busy and more productive.</h1>
      <p>
      Volition is more than a todo list. It’s a framework for becoming more effective. It encourages you be more intentional in planning your day and reflecting on the decisions you made. <%= link_to 'Read more', 'https://medium.com/@usevolition/introducing-volition-c87764c199d#.fchez8mxq', target: '_blank' %> about why Volition was created.</p>
      <p>
      If you want to start using Volition now, try <%= link_to 'self hosting', ENV['LINK_TO_GITHUB_REPO'] %>.
      <%= render partial: 'subscribe', locals: { button_class: 'button secondary' } %>
      </p>
    </div>
  </div>
</section>
<section class="dayWithVolitionSection">
  <h2 class="sectionHeading">
    A day with Volition
  </h2>

  <p>Volition facilitates use of the Pomodoro technique - breaking down tasks into twenty-five minute chunks of work, with small breaks in between - to boost productivity, and encourage self-reflection.</p>

  <div class="marketingCard">
    <h3 class="marketingTagline">
      Plan your day ahead
    </h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/1z1C0S3J2G2o3D3X2Z1h/Screen%20Recording%202017-03-08%20at%2010.11%20AM.gif" alt="">
    <p>
    Volition allows you to choose only five tasks for the day. This forces you to think about what is important and to set your priorities accordingly. Volition also asks you to estimate how long - in terms of Pomodoro chunks - it will take you to complete each task. While your estimates may be off at first, that's okay. It take practice to make those kinds of estimates accurately, but honing that skill will not only help you learn to analyze problems more thoroughly, but also organize your day more effectively and efficiently, matching available blocks of time with well-suited tasks.
    </p>
  </div>

  <p class='downArrow'>&#8595;</p>

  <div class="marketingCard">
    <h3 class="marketingTagline">
      Use it throughout the day
    </h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/2v3i0v150c1r452f1902/Screen%20Recording%202017-03-08%20at%2010.12%20AM.gif" alt="">
    <p>
    As you work, you can mark off a task's Pomodoros as you finish them. Once a task is done, check it off!
    </p>
  </div>

  <p class='downArrow'>&#8595;</p>

  <div class="marketingCard">
    <h3 class="marketingTagline">
      Reflecting on your day
    </h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/3F1A0u1U3a0i3n111W1K/Screen%20Recording%202017-03-08%20at%2010.14%20AM.gif" alt="">
    <p>
    Here is where Volition becomes a powerful tool. At the end of the day, Volition gives you space to reflect on what you think you did wrong, what you did right, and what was left undone. By examining your behavior and how you use your time, it will be easier for you to make positive adjustments. You cannot expect to improve meaningfully without acknowledging and examining what you did wrong.
    </p>
  </div>

  <p class='downArrow'>&#8595;</p>

  <div class="marketingCard">
    <h3 class="marketingTagline">
      Plan the next day
    </h3>
    <img data-aload="https://d1ax1i5f2y3x71.cloudfront.net/items/0C050k1D2N1U0A1z0H0P/Screen%20Recording%202017-03-08%20at%2010.16%20AM.gif" alt="">
    <p>
    After you reflect on your day, you can plan your tasks for tomorrow. This helps you hit the ground running in the morning, without using precious reserves of willpower. 
    </p>
  </div>
</section>

<section class="philosophySection">
  <p>
    I’m <b>Garrett Martin</b>. I write software for a living. Here is the philosophy I used to build Volition:
  </p>

  <div class="philosophyPoint">
    <h4 class="marketingTagline">
      Work should be fulfilling, not consuming
    </h4>
    <p class="philosophyContent">
      I helped start a business so that I could create something new and useful. I also had a vision of a lifestyle I wanted to build; one that didn't revolve solely around work. Working myself to the bone for years on the off chance that I would have enough money to retire did not seem a likely path to happiness.
    </p>
  </div>
  <div class="philosophyPoint">
    <h4 class="marketingTagline">
      Time should be used intentionally
    </h4>
    <p class="philosophyContent">
      I have had too many days that were figured out as the day went on. For me, that is not a recipe for good work, whether creative or rote. It leads to too many dead ends and allows for too many wasteful diversions.

      When I have a plan for the day, on the other hand, I can navigate smoothly from one task to the next. It takes less thought and willpower to get started, to stay on track, and to actually get things done. It's liberating, both because it relieves the stress created by knowing that things need to get done, but not knowing quite what or how, and also because it leaves more time in my day for things other than work.
    </p>
  </div>
  <div class="philosophyPoint">
    <h4 class="marketingTagline">
      Without reflection, we don't become better people
    </h4>
    <p class="philosophyContent">
      In that past, I have often ignored my mistakes so as to not relive the moment. That's wrong and I regret it. Having the courage to face mistakes allows me to more easily make corrections and improve. That's intuitive, but it seems that most of us rarely do it.
      <br>
      <br>
      Epictetus, a first century Greek philosopher, was well aware of our aversion as humans to acknowledging failure and analyzing what we have done wrong. He asks us in his <em>Discourses</em> to overcome that aversion:

      <blockquote>
        Let sleep not come upon thy languid eyes
        Before each daily action thou hast scann'd;
        What's done amiss, what done, what left undone;
        From first to last examine all, and then
        Blame what is wrong, in what is right rejoice.
      </blockquote>
    </p>
  </div>
  <div class="philosophyPoint">
    <h4 class="marketingTagline">
      Users should control their own data
    </h4>
    <p class="philosophyContent">
      Now more than ever, we have less control over who sees what we do on the internet. For now, Volition is exclusively self-hosted. In the not-so-distant future, I'll be releasing a hosted version, but I want to first give something useful to the community that has given me so much.
    </p>
  </div>
  <%= render partial: 'subscribe', locals: { button_class: 'button' } %>
</section>
