<section class="appSection">
  <h1><%= @todo_list.date.strftime('%B %e') %></h1>

  <div class="daySummary reflectionDaySummary breatheTop">
    <div class="flexColumn flexAlignCenter flexJustifySpaceAround daySummaryInfoColumn">
      <div class="calendarIcon small">
        <div class="calendarIconTopBar small"><span class="month"><%= @todo_list.date.strftime('%B') %></span></div>
        <div class="calendarIconDay small"><span class="day"><%= @todo_list.date.strftime('%e') %></span></div>
      </div>
    </div>

    <ol class="dashboardTodoList">
      <% @todo_list.todos.each do |todo| %>
        <li class="dashboardTodo">
          <% if todo.complete %>
            <span class="checkMark small"></span>
            <span class="complete">
              <%= todo.content.truncate(40) %>
            </span>
          <% else %>
            <%= todo.content.truncate(40) %>
          <% end %>
          <% if todo.content.present? %>
            <span class="time">
              <i class="fa fa-clock-o"></i>
              <span><%= todo.actual_time_blocks %>/<%= todo.estimated_time_blocks %></span>
            </span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <% if @reflection.present? %>
    <%= render partial: "reflections/reflection",
      locals: { reflection: @reflection } %>
  <% else %>
    <p class="noTodoLists breatheTop">No reflection for this day.</p>
  <% end %>
</section>
