<footer>
  <p>
    &copy; <%= Date.current.year %> Volition
    <br>
    <%= link_to 'Philosophy', philosophy_path  %>
    <br>
    <%= link_to 'Running costs', running_costs_path %>
    <br>
    <%= link_to 'Terms & Privacy policy', privacy_path %>
    <br>
    <%= render "marketing/subscribe" %>
  </p>
</footer>
