<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <%= favicon_link_tag 'favicon' %>
  <%= render "javascript" %>
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render partial: 'layouts/navigation' %>
  <%= render "flashes" -%>
  <%= yield %>
  <script src="//cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
  <%= render "css_overrides" %>
</body>
</html>
